.pageTitle{
  font-size: 35px;
  margin-bottom: 10px;
  color: #4b286e;
  text-align: center;
}
.fourHeader {
 width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.four{
  width: 500px;
}
.fourLink {
  color: #6661fb;
}