@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: 'Noto Sans';
}
.pageTitle{
  font-size: 35px;
  margin-bottom: 10px;
  color: #4b286e;
  text-align: center;
}
.fourHeader {
 width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.four{
  width: 500px;
}
.fourLink {
  color: #6661fb;
}
.main{
  /* margin-top: -40px; */
}
.main::after{
  background-image: linear-gradient(180deg in oklch, rgba(255, 255, 255, 0) 0, #fff 83%), linear-gradient(108deg in oklch, #ebdcf8 -3%, #b9f6ff 108%);
  background-size: auto 376px;
    background-repeat: no-repeat;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 100%;
    inset: 0;
    z-index: -1;
    transition: opacity .5s linear;
}


.main::before{
  background-image: linear-gradient(180deg in oklch, rgba(255, 255, 255, 0) 0, #fff 83%), linear-gradient(108deg in oklch, rgba(235, 220, 248, 0) 25%, #b9f6ff 135%);
  background-size: auto 376px;
  background-repeat: no-repeat;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 100%;
  inset: 0;
  z-index: -1;
  transition: opacity .5s linear;

}
.main-body{
  margin: auto 115px;
  padding-top: 65px;
  position: sticky;
  /* max-width: 1180px; */
}
.h1-text{
  font-family: "Google Sans", "Google Sans", Roboto, Arial, sans-serif;
    font-weight: 700;
    font-size: 5.125rem;
    line-height: 110%;
    color:  #0b284b;
    margin: 0;
    width: 0;
}

.ant-upload-text{
  color:  #0b284b !important;
  font-size: 1.3rem  !important;;
}


.ant-modal-content{
  background-color: #eef4ff !important;
  border-radius: 20px !important ;
}
.btn-ok{
  background-color: #0b284b;
  color: #fff;
  font-weight: 700;
  background: #0b284b;
  font-size: 14px;

    height: 48px;
    padding: 15px 30px;
    border-radius: 12px;
}